$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
$module: 'tcsChats';
@for $i from 0 through 20 {
    .p-l-#{$i} {
        padding-left: #{$i}px !important;
    }
}

@for $i from 0 through 20 {
    .p-r-#{$i} {
        padding-right: #{$i}px !important;
    }
}

@for $i from 0 through 20 {
    .p-t-#{$i} {
        padding-top: #{$i}px !important;
    }
}

@for $i from 0 through 20 {
    .p-b-#{$i} {
        padding-bottom: #{$i}px !important;
    }
}

@for $i from 0 through 50 {
    .m-t-#{$i} {
        margin-top:#{$i}px !important;
    }
}

@for $i from 0 through 50 {
    .m-r-#{$i} {
        margin-right:#{$i}px !important;
    }
}

@for $i from 0 through 50 {
    .m-l-#{$i} {
        margin-left:#{$i}px !important;
    }
}

div {
    -webkit-user-select: none;
    /* Chrome, Opera, Safari */
    -moz-user-select: none;
    /* Firefox 2+ */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Standard syntax */
}

.userDetailsHolder {
    height: 80px;
    background-color: white;
    cursor: pointer;
}

.avatar {
    height: 80%;
}

@media screen and (max-width: 991px) {
    .userDetailsHolder {
        height: 150px;
    }
}

@media screen and (max-width: 600px) {
    .userDetailsHolder {
        height: 200px;
    }
    .avatar {
        width: 80%;
    }
}

.mainHolder {
    height: 95vh;
    overflow: hidden;
    width: 100%
}

.buttonFont {
    font-size: 25px
}

.contentHeight {
    height: 100%
}

.empFollowHolder {
    margin-left: 16px;
    margin-right: 16px;
    background-color: #eee
}

.footerStyle {
    height: 50px;
    background-color: white;
    width: 100%
}

.empDetailsHolder {
    margin-left: 16px;
    margin-right: 16px;
    background-color: #eee
}

.navbar-buttons {
    display: flex;
    align-content: center;
    cursor: pointer;
    div:nth-child(1) {
        font-size: 25px;
    }
    ;
    div:nth-child(2) {
        font-size: 15px;
    }
}

.moduleTransition {
    /* start 'enter' transition */
    &.ng-enter {
        /* transition on enter for .5s */
        transition: .5s;
        /* start with opacity 0 (invisible) */
        opacity: 0;
    }
    /* end 'enter' transition */
    &.ng-enter-active {
        /* end with opacity 1 (fade in) */
        opacity: 1;
    }
}
