<div>
    <div class="md-whiteframe-2dp userDetailsHolder" layout layout-align="center center" layout-xs="column" md-ink-ripple='#4d75b3'>
        <md-icon flex="20" flex-sm="40" flex-xs="60" md-svg-icon="avatar" class="avatar"></md-icon>
        <div flex="80" flex-sm="60" flex-xs="40" layout-align-sm="center center" layout-align-xs="center center" layout-xs="column">
            <div class="md-title">{{emp.empName}}</div>
            <div class="md-subhead">{{emp.empId}}</div>
            <div class="md-subhead">{{emp.email}}</div>
        </div>
    </div>
</div>
