<md-list class="md-whiteframe-5dp empFollowHolder" style="">
    <md-list-item ng-repeat="emp in empDetails" class="p-b-5">
        <employee-chat-details emp='emp' currentModule='currentModule' flex></employee-chat-details>
    </md-list-item>
    <div class="footerStyle"></div>
</md-list>
