<div>
    <md-subheader class="md-no-sticky md-primary m-l-20 m-r-20 m-b-10">Unread Chats</md-subheader>
    <md-list class="md-whiteframe-5dp empDetailsHolder">
        <md-list-item ng-repeat="emp in empDetails|unreadChatsFilters" class="p-b-5">
            <employee-chat-details emp='emp' flex></employee-chat-details>
        </md-list-item>
    </md-list>
    <md-subheader class="md-no-sticky md-primary m-l-20 m-r-20 m-b-10 m-t-10">Read Chats</md-subheader>
    <md-list class="md-whiteframe-5dp empDetailsHolder">
        <md-list-item ng-repeat="emp in empDetails|readChatsFilters" class="p-b-5">
            <employee-chat-details emp='emp' flex></employee-chat-details>
        </md-list-item>
    </md-list>
    <div class="footerStyle"></div>
</div>
