<md-subheader>
    <md-nav-bar class="md-primary" md-selected-nav-item="currentModule">
        <md-nav-item md-nav-click="moveto('employeeChats')" name="employeeChats">
            Chats
        </md-nav-item>
        <md-nav-item md-nav-click="moveto('employeesFollowed')" name="employeesFollowed">
            Followed
        </md-nav-item>
    </md-nav-bar>
</md-subheader>
<div ui-view="" class="moduleTransition"></div>
