<md-sidenav md-component-id="left" class="md-sidenav-left md-whiteframe='4'">
    <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">TCS Chats</h1>
    </md-toolbar>
    <md-content layout="column" class="m-t-20 m-l-10" style="height: 200px;" flex>
        <div class="navbar-buttons">
            <div class="glyphicon glyphicon-user p-b-20 p-r-20"></div>
            <div>Manage Account</div>
        </div>
        <div class="navbar-buttons">
            <div class="glyphicon glyphicon-cog p-b-20 p-r-20"></div>
            <div>Settings</div>
        </div>
    </md-content>
</md-sidenav>
