<div layout="column">
    <div class="mainHolder">
        <md-toolbar class="md-primary" md-scroll-shrink>
            <div class="md-toolbar-tools">
                <span class="glyphicon glyphicon-align-justify p-r-10" ng-click="openSideNav('left')"></span>
                <h3 class="m-t-2"><span>TCS Chats</span></h3>
            </div>
        </md-toolbar>
        <md-button class="md-fab md-warn md-fab-bottom-right buttonFont" aria-label="Add">+</md-button>
        <side-navigation></side-navigation>
        <md-content class="contentHeight">
            <main-content></main-content>
        </md-content>
    </div>
</div>
